---
import PrimaryButton from '@/libs/buttons/PrimaryButton';
import FeaturedImage from '@/libs/FeaturedImage';
import Header1 from '@/libs/headers/Header1';
import Header2 from '@/libs/headers/Header2';
import Paragraph from '@/libs/headers/Paragraph';
import SectionBody from '@/libs/SectionBody';

import type { Patron } from '@/libs/stores/assets';
import type { Image } from '@/libs/stores/init';

type Props = {
  featuredImage: Image;
  patrons: Patron[] | null;
};

const { featuredImage, patrons } = Astro.props;
const kofiUrl = import.meta.env.PUBLIC_KOFI_URL;

const honorific = '様';
---

<section class="mt-96 md:mt-72" id="contribute">
  <Header1 title="CONTRIBUTE" titleJa="ご支援" className="mb-16" right small client:load />

  <div class="flex flex-col md:flex-row">
    <div class="w-full md:w-1/2">
      <FeaturedImage image={featuredImage} />
    </div>

    <div class="mt-20 md:mt-10 w-full md:w-1/2 flex flex-col items-center">
      <SectionBody className="half-container-max-width" client:load>
        <Header2 title="ご支援のお願い" className="mb-10" />

        <Paragraph className="mb-8 w-full">
          「バーチャルケモナイト2」は皆様のご支援によって成り立っています。
          最高の音楽体験と空間を提供するために、会場設営や広報活動など様々な費用がかかっております。
        </Paragraph>

        <Paragraph className="mb-8 w-full">
          より多くの方にバーチャルケモナイト2の魅力を知っていただき、共に素晴らしい夜を作り上げるために、
          どうぞお力添えをいただけますと幸いです。いただいたご支援は、イベントの企画運営に
          大切に使わせていただきます。
        </Paragraph>

        <div class="mt-8 p-6 w-full border-2 border-primary">
          <h3 class="mb-2 font-bold">支援してくださった方への特典</h3>
          <ul class="list-disc list-outside pl-5">
            <li>当サイトとイベント会場にてご芳名を掲載</li>
          </ul>

          <h3 class="mt-8 mb-2 font-bold">3,000円以上 支援してくださった方への特典</h3>
          <ul class="list-disc list-outside pl-5">
            <li>イベント会場への優先入場権（VRChatの Group Instance Queue Priority 機能により、満員時でも優先的に入場可能です）</li>
          </ul>
        </div>

        <PrimaryButton
          label="Ko-fi で&#8203;支援する"
          href={kofiUrl}
          className="mt-16"
          newTab
        />

        {patrons && patrons.length > 0 && (
          <div class="mt-8 text-center">
            <p class="mb-2">温かいご支援を賜りました皆様に、心より感謝申し上げます。</p>
            <p>
              {patrons.map((patron, index) => (
                <span>
                  {patron.name}{patron.is_need_honorific ? honorific : ''}{index !== patrons.length - 1 ? '、' : ''}
                </span>
              ))}
            </p>
          </div>
        )}
      </SectionBody>
    </div>
  </div>
</section>
